article{
    border-style: solid;
    background-color: black; max-width: 1900px;
}

a{
    color: white;
}

img 
{
     max-width: 1904px;
     height: 360px;
}

hr{
    max-width: 1904px;
}

fieldset{
    max-width: 1904px;
}

.flotte {
    float:left;
}

div{
    max-width: 1904px;
}

div, #Titre {
    font-size: xx-large;
}

div, #Titre {
    text-align: center;
}

#tableau {
    width: 30%; height: 520px;
    border: solid none;
    background-color: gray;
}

#tableau {
    float: right;
}
