article{
    border-style: solid;
    background-color: black; max-width: 1900px;
}

a{
    color: white;
}

img 
{
     max-width: 1904px;
     height: 360px;
}

hr{
    max-width: 1904px;
}

fieldset{
    max-width: 1904px;
}

.flotte {
    float: left;
}

div{
    max-width: 1904px;
}

div, #Titre {
    font-size: xx-large;
}

div, #Titre {
    text-align: center;
}

#tableau1 {
    width: 520px; height: 500px;
    border: none;
    background-color: gray;
    display: flex;
    float: right;
}



#tableau2 {
    width: 520px; height: 620px;
    border: none;
    background-color: gray;
    float: right;
}

#tableau3 {
    width: 520px; height: 2090px;
    border: none;
    background-color: gray;
    float: right;
}

@media screen and (max-width: 768px) 
{ 
    #tableau1 
    {display: none;}

    #tableau2
    {display: none;}

    #tableau3
    {display: none;}

    * 
    {font-size: small;}

    a{
        display: flex;
        flex-direction: column;
    }
}
